@import url {
    'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap" rel="stylesheet'
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    background: white;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.head {
    font-size: 0.75em;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: orange;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    text-align: left;
}

article {
    background-color: OliveDrab;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

nav,
aside {
    background-color: OliveDrab;
    color: white;
    text-align: left;
    margin: 10px 0px;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 20px;
}