
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');
*{
    padding:0;
    margin: 5px;
}
body 
{
    font-family: 'Nunito Sans', sans-serif;
}

h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA500;
    color: white;
    font-weight: 100;
    font-size:50px;
    height:150px;
}    
#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    border-radius:10px;
    width:100%;
    height:100%;
    font-size: 1.3em ;
}


#main nav
 {
    background-color: #666633 ;
    width:20%;
    color:white;
    padding:20px;
    height:450px;
    font-size: 1.0em;
    font-weight: 100;


}
#main article 
{
    background-color: #999966;
    color:white;
    flex-direction: column;
    width:60%;
    padding:20px;
    height:450px;
    text-align: center;
    font-size: 20px;
    
}
#main aside
{
background-color: #666633;
width:20%;
color: white;
padding:20px;
height:450px;
font-size: 1.0em;
font-weight: 100;
}
footer 
{
    display: flex;
    background-color: #FFA500;
    color: white;
    height:100px;
    padding:20px;
    font-size:1.5em;
    font-weight:100;
}