header {
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-direction: center;
    text-align: center;
    color: white;
    font-weight: 0.2em;

}

#main {
    display: flex;
}

nav {
    flex: 50%;
    order: 1;
    margin-right: 0%;

    padding-left: 10px;
    color: white;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    background: rgba(29, 80, 29, 0.596)
}

aside {
    order: 3;
    margin-right: 0%;

    color: white;
    margin-left: 0%;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    padding-left: 10px;
    background: rgba(29, 80, 29, 0.596)
}

article {
    order: 2;
    background-color: grey;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    flex: 2
}

footer {
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: white;
    font-weight: 0.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2%;

}

nav,
aside {
    flex: 1;

}